<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div>
    <label for="name">Name</label>
    <input
        type="text"
        id="name"
        class="form-control"
        name="name"
        ngModel
        required
    >
  </div>

  <div>
    <label for="description">Description</label>
    <input
        type="text"
        id="description"
        class="form-control"
        name="description"
        ngModel
        required
    >

    <button type="submit" [disabled]="!f.valid">Create</button>
  </div>

</form>