<form class="todo-new-form" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <h2>Add New Task</h2>
    <mat-form-field>
      <input
        matInput
        placeholder="Name"
        type="text"
        id="name"
        class="form-control"
        name="name"
        ngModel
        required
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Description"
        type="text"
        id="description"
        class="form-control"
        name="description"
        ngModel
        required
      >
    </mat-form-field>

    <div class="button-row">
      <button mat-raised-button type="submit" [disabled]="!f.valid" color="primary">Create</button>
    </div>

</form>